{{#d-modal-body title='discourse_donations.subscription.cancel.title'}}
  {{i18n 'discourse_donations.subscription.cancel.description' site=siteSettings.title
                                                               currency=model.currency
                                                               amount=model.amount
                                                               period=model.period}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action='confirm' label='yes_value' class='btn-primary'}}
  {{d-button action='cancel' label='no_value'}}
</div>
