<h2>{{i18n 'discourse_subscriptions.campaign.title'}}</h2>
<p>{{i18n 'discourse_subscriptions.campaign.body'}}</p>
{{#link-to "s" class="btn btn-primary"}}
  {{i18n 'discourse_subscriptions.campaign.button'}}
{{/link-to}}
<p>{{i18n 'discourse_subscriptions.campaign.goal'}}</p>
<p>65 of 100 Subscribers</p>
<progress value="65" max="100"/>
