<form id="payment-form" class="form-horizontal">
  <div class="donations-page-payment">
    {{stripe-card
      charges=charges
      subscriptions=subscriptions
      onCompleteTransation=onCompleteTransation
    }}
  </div>
</form>
