
<button class="btn btn-primary">
  {{i18n "discourse_subscriptions.plans.purchase"}}
</button>
{{!-- <button class="btn">
  Make just one payment
</button> --}}

<hr>

<p>
  {{i18n "discourse_subscriptions.plans.select"}}
</p>

<div id="subscribe-buttons">
  {{#each plans as |plan|}}
    {{#ds-button
      action="clickPlan"
      actionParam=plan
      selected=plan.selected
      class="btn btn-discourse-subscriptions-subscribe"
    }}
      <div class="interval">
        {{i18n (concat "discourse_subscriptions.plans.interval.adverb." plan.interval)}}
      </div>
      <span class="amount">
        {{format-currency plan.currency plan.amountDollars}}
      </span>
    {{/ds-button}}
  {{/each}}
</div>
