
<button class="btn btn-primary">
  Purchase a subscription
</button>
<button class="btn">
  Make just one payment
</button>

<hr>

<p>Select subscription period</p>

<div id="subscribe-buttons">
  {{#each plans as |plan|}}
    {{#d-button
      action="clickPlan"
      actionParam=plan
      class="btn btn-discourse-subscriptions-subscribe"
    }}
      <div class="interval">
        {{i18n (concat "discourse_subscriptions.plans.interval.adverb." plan.interval)}}
      </div>
      <span class="amount">
        {{format-currency plan.currency plan.amountDollars}}
      </span>
    {{/d-button}}
  {{/each}}
</div>
