
<button class="btn btn-primary">
  Purchase a subscription
</button>
<button class="btn">
  Make just one payment
</button>

<hr>

<p>Select subscription period</p>

<div id="subscribe-buttons">
  {{#each plans as |plan|}}
    {{#d-button
      action="clickPlan"
      actionParam=plan
      class="btn btn-discourse-subscriptions-subscribe"
    }}
      <div>Monthly</div>
      AUD $5.00
    {{/d-button}}
  {{/each}}
</div>
