
<button class="btn btn-primary btn-discourse-subscriptions-subscribe">
  Purchase a subscription
</button>
<button class="btn btn-discourse-subscriptions-subscribe">
  Make just one payment
</button>

<hr>

<p>Select subscription period</p>

<div id="subscribe-buttons">
  {{#each plans as plan}}
    <button class="btn btn-discourse-subscriptions-subscribe">
      <div>Monthly</div>
      AUD $5.00
    </button>
  {{/each}}
</div>
