<p>
  {{i18n "discourse_subscriptions.plans.select"}}
</p>

<div class="subscribe-buttons">
  {{#each orderedPlans as |plan|}}
    {{payment-plan
      plan=plan
      selectedPlan=selectedPlan
      clickPlan=(action "clickPlan")
    }}
  {{/each}}
</div>