<form id="payment-form" class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="card-element">Credit or debit card</label>
    <div id="card-element" class="controls"></div>
  </div>

  <div class="control-group save-button">
    <div class="controls">
      <button {{action "submitStripeCard"}} class="btn btn-primary">{{i18n 'discourse_payments.submit'}}</button>
    </div>
  </div>

  {{#if result}}
    <span>{{i18n 'discourse_payments.success'}}</span>
  {{/if}}
</form>
