<form id="payment-form">
  <div>
    <label for="card-element">Credit or debit card</label>
    <div id="card-element"></div>
  </div>

  <button {{action "submitStripeCard"}}>Submit Payment</button>

  {{#if result}}
    <div class="stripe-card-result">payment happened</div>
  {{/if}}
</form>
