
<div id="stripe-elements">
  <div id="card-element"></div>
  <div id="card-action">
    {{#d-button action="submitStripeCard" class="btn btn-primary btn-payment btn-discourse-patrons"}}
      {{i18n 'discourse_patrons.buttons.make_payment'}}{{amount}}
    {{/d-button}}

    {{#if cardError}}
      <div class="popup-tip bad">
        {{cardError}}
      </div>
    {{/if}}
  </div>
</div>
