<h1>Choice</h1>

<form class="choice-discourse-form form-horizontal">

<div>
  <div>
    {{text-field}}
  </div>
  <div>
    <button class='btn btn-primary' {{action "someThing"}}>something</button>
  </div>
</div>

</form>
