<h1>Choice</h1>

<form class="choice-discourse-form form-horizontal">

<div>
  <div class='controls'>
    {{text-field}}
  </div>
  <div class='span10 controls'>
    <button class='btn btn-primary'>something</button>
  </div>
</div>

</form>
