{{#d-section pageClass="user-billing" class="user-secondary-navigation" scrollTop="false"}}
  {{#mobile-nav
    class='activity-nav'
    desktopClass='action-list nav-stacked'
    currentPath=router._router.currentPath
  }}
    <li>
      {{#link-to 'user.billing.subscriptions'}}
        {{i18n 'discourse_subscriptions.navigation.subscriptions'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'user.billing.payments'}}
        {{i18n 'discourse_subscriptions.navigation.payments'}}
      {{/link-to}}
    </li>
  {{/mobile-nav}}
{{/d-section}}

<section class='user-content'>
  {{outlet}}
</section>
