<div class="payments">
  {{username}}
</div>

<button class='btn btn-primary payment-btn' {{action "makePayment"}}>
  make payment
</button>

{{#if saved}}
  <div class="payment-response">Response happens</div>
{{/if}}
