
<h3>{{i18n 'discourse_patrons.admin.subscriptions.title'}}</h3>

<table class="table discourse-patrons-admin">
  <thead>
    <tr>
    </tr>
  </thead>
  {{#each model as |subscription|}}
    <tr>
    </tr>
  {{/each}}
</table>
