
<h3>Subscription Plans</h3>

<table class="table discourse-patrons-admin">
  <thead>
    <tr>
      <th>Plan Name</th>
      <th>Interval</th>
      <th>Product</th>
      <th>Amount</th>
    </tr>
  </thead>
  {{#each model as |payment|}}
    <tr>

    </tr>
  {{/each}}
</table>
