
<h3>{{i18n 'discourse_patrons.admin.plans'}}</h3>

<table class="table discourse-patrons-admin">
  <thead>
    <tr>
      <th>Plan Name</th>
      <th>Interval</th>
      <th>Product</th>
      <th>Amount</th>
    </tr>
  </thead>
  {{#each model as |subscription|}}
    <tr>

    </tr>
  {{/each}}
</table>
