
<p class="btn-right">
  {{#link-to 'adminPlugins.discourse-patrons.products.show' 'new' class="btn btn-primary"}}
    {{d-icon "plus"}}
    <span>{{i18n 'discourse_patrons.admin.products.new'}}</span>
  {{/link-to}}
</p>

{{outlet}}
