
<p class="btn-right">
  {{#link-to 'adminPlugins.discourse-patrons.plans.show' 'new' class="btn btn-primary"}}
    {{d-icon "plus"}}
    <span>{{i18n 'discourse_patrons.admin.plans.operations.new'}}</span>
  {{/link-to}}
</p>

{{outlet}}
