
<h2>{{i18n 'discourse_patrons.title' site_name=siteSettings.title}}</h2>

{{#link-to 'adminPlugins.discourse-patrons'}}
  Payments
{{/link-to}}
{{#link-to 'adminPlugins.discourse-patrons.subscriptions'}}
  Subscriptions
{{/link-to}}

<hr>

{{outlet}}
