.subscription-campaign-sidebar {
  #main-outlet .container.list-container .row:nth-of-type(2) .full-width #list-area .contents {
    display: grid;
    grid-template-columns: 78% calc(22% - 2em);
    grid-template-areas: "content sidebar";
    grid-column-gap: 2em;
    span:first-of-type {
      grid-area: sidebar;
    }
  }
}

// Sidebar Version
.campaign-banner.campaign-banner-sidebar {
  width: calc(100% - 2em);
  padding: 1em;
  position: relative;
  .btn.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 10px;
  }
  .campaign-banner-header {
    font-size: 16px;
    margin: 0.5em 0 !important;
    text-align: center;
  }
  .campaign-banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-description {
      width: 100%;
      font-size: $font-down-1;
      text-align: center;
      margin-bottom: 1em;
    }
  }
  .btn {
    height: 2em;
  }
  progress[value] {
    height: 1.5em;
  }
  .campaign-banner-progress-description {
    font-size: $font-down-1;
  }
}

// Non Sidebar version
.campaign-banner {
  width: max-content;
  height: max-content;
  padding: 1.5em;
  margin: 1em auto 2em;
  border: 1px solid var(--primary-low);
  position: relative;
  box-shadow: 0px 0px 4px -2px rgba(var(--primary-rgb),0.25);
  .btn.close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 12px;
    background-color: transparent;
    &:hover {
      .d-icon {
        color: var(--primary);
      }
    }
  }
  &-header {
    font-size: $font-up-4;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    &-success {
      width: 100%;
      margin: 0;
    }
    &-description {
      width: 65%;
      margin: 0;
    }
    &-button {
      height: 2.5em;
      padding: 0.75em 1.5em;
    }
  }
  &-progress-description {
    margin: 0;
    font-weight: 300;
    strong {
      font-weight: bold;
    }
  }
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 2.5em;
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: var(--primary-very-low);
    overflow: hidden;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: var(--primary-very-low);
  }
  
  progress[value]::-webkit-progress-value {
    background-color: rgba(var(--tertiary-rgb),0.90);
  }
  
  progress[value]::-moz-progress-bar {
    background-color: rgba(var(--tertiary-rgb),0.90);
  }
}