// TODO: This gets overridden somewhere. It is defined in common/base/discourse.scss
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}

.admin-plugins.discourse-subscriptions .discourse-subscriptions-buttons {
  margin: 1em 0 2.5em;
}

#discourse-subscriptions-admin {
  .btn-right {
    text-align: right;
  }
  .align-buttons {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-right: 5px;
    }
  }

  .btn-primary.create-coupon {
    margin-top: 1em;
  }
}

.plan-amount {
  position: relative;
  top: 2px;
}
.plan-currency {
  width: 70px;
}

.td-right {
  text-align: right;
}

table.discourse-subscriptions-user-table {
  width: 100%;
  th,
  td {
    padding: 10px;
  }
  th:first-child,
  td:first-child,
  th:last-child,
  td:last-child {
    padding-left: 0;
  }
}

.discourse-subscriptions-admin-textarea {
  width: 80%;
}

#stripe-elements {
  border: 1px $primary-low-mid solid;
  padding: 10px;
  background-color: $primary-very-low;
}

#card-action {
  margin: 20px 0;
}

.discourse-subscriptions-confirmation-billing {
  margin-right: 40px;
}
