// TODO: This gets overridden somewhere. It is defined in common/base/discourse.scss
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}

#discourse-patrons-admin {
  .btn-right {
    text-align: right;
  }
}

.plan-amount {
  position: relative;
  top: 2px;
}
.plan-currency {
  width: 70px;
}

.td-right {
  text-align: right;
}

table.discourse-patrons-user-table {
  width: 100%;
  th,
  td {
    padding: 10px;
  }
}

.desc {
  color: dark-light-choose($primary-medium, $secondary-medium);
  font-size: 0.8em;
}

.discourse-patrons-admin-textarea {
  width: 80%;
}

#stripe-elements {
  border: 1px $primary-low-mid solid;
  padding: 10px;
  background-color: $primary-very-low;
}

.discourse-patrons-payment-details {
  border: 1px $primary-low-mid solid;
  background-color: $primary-low;
}

.discourse-patrons-section-columns {
  margin: 20px;
  padding: 20px;

  .discourse-patrons-billing {
    .ember-text-field {
      margin-bottom: 0;
    }
    .field {
      margin-bottom: 10px;
    }
  }
}

.discourse-patrons-fields {
  .field {
    width: 25%;
  }
}

#card-action {
  margin: 20px 0;
}

.discourse-patrons-confirmation-billing {
  margin-right: 40px;
}

.discourse-patrons-confirmation {
  width: 100%;

  td {
    padding: 10px;
    white-space: nowrap;
  }
}

.btn-discourse-patrons {
  white-space: nowrap;
}
