.subscribe-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  .btn-discourse-subscriptions-subscribe {
    flex-direction: column;
    margin: 0.25em;
    padding: 1em;
    width: 6em;
  }
}

.btn-payment {
  width: 100%;
}

.anon #card-element {
  display: none;
}

.StripeElement {
  box-sizing: border-box;

  padding: 10px;
  height: 40px;
  margin-bottom: 9px;

  border: 1px solid var(--primary-medium);
  background-color: var(--secondary);

  font-size: $base-font-size;
  font-family: $base-font-family;
}

.StripeElement--focus {
  border-color: var(--tertiary);
  box-shadow: shadow("focus");
  outline: 1px solid var(--tertiary);
}

.StripeElement--invalid {
  border-color: var(--danger);
}

.StripeElement--webkit-autofill {
  color: var(--quaternary);
}

.subscribe-promo-code {
  width: 100%;
}
