

<form action="/choice/stripe">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_b8RmhzlL8QPizJRqOrKF3JEV"
    data-name="CHOICE"
    data-description="Consumer Defender"
    data-image="https://cloud.githubusercontent.com/assets/64749/18696451/99eeb440-7ffc-11e6-8cab-905a8ea27fb6.png"
    data-locale="auto"
    data-zip-code="false"
    data-currency="aud"
    data-label="Become a Consumer Defender"
    data-email="{{model.email}}"
    data-amount="1000"
    >
  </script>
</form>
