div.stripe-errors {
  border: 1px solid #c33;
  border-radius: 5px;
  color: #600;
  background-color: #fdd;
  padding: 5px 10px;
}

.donations-page-description {
  max-width: 700px;
  font-size: 1.1em;
  line-height: 24px;
}

.donations-page-payment {
  padding: 30px 0;

  #payment-form {
    .control-label {
      margin: 0 6.5px;
    }

    .select-kit ul {
      margin: 0;
    }

    input[type="checkbox"] {
      margin: 0;
    }

    .error, .stripe-error {
      margin-top: 5px;
      color: $danger;
    }
  }
}

.transaction-fee-description {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.transaction-fee-description-modal {
  display: block;
  position: absolute;
  top: -30px;
  left: 20px;
  background-color: $secondary;
  border: 1px solid $primary-low;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  width: 400px;
  z-index: 1;
}

.body-page .donations-page-donations {
  margin-bottom: 20px;

  .donation-list {
    .subscription-list, .charge-list {
      margin-bottom: 10px;

      > ul {
        margin: 10px 0;
        list-style: none;

        .spinner {
          height: 5px;
          width: 5px;
        }
      }
    }

    .underline {
      border-bottom: 1px solid $primary-medium;
      display: inline-block;
    }
  }
}

.donation-row {
  span {
    line-height: 25px;
  }

  &.canceled {
    text-decoration: line-through;
  }

  &.updating {
    color: $primary-low;
  }

  .new-flag {
    color: $tertiary;
    margin-left: 5px;

    .fa {
      line-height: 16px;
      font-size: 8px;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.donations-category-header {
  padding-top: 60px;
  text-align: center;

  .donations-category-contents {
    width: 500px;
    margin: 0 auto;
    padding: 30px 40px 10px;
    text-align: center;

    i {
      margin-right: .25em;
      font-size: 1.5em;
    }

    h1 {
      text-transform: capitalize;
      display: inline;
    }

    .category-title-description {
      font-size: 1.2rem;
      padding: 10px 0;

      p {
        margin: 0;
      }
    }
  }

  .donations-category-metadata {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;

    .donations-total span:first-of-type, .donations-month span:first-of-type {
      margin-right: 5px;
    }

    .donations-github a, .donations-meta a {
      color: inherit;
    }

    .donations-meta {
      .widget-link {
        display: flex;
        align-items: center;
      }
      img {
        width: 17px;
        height: 17px;
        margin-right: 4px;
      }
    }

    .donations-release-latest, .donations-release-oldest {
      display: flex;
      align-items: center;

      span:first-of-type {
        margin-right: 8px;
      }
    }
  }

  .donations-category-users {
    width: 500px;
    margin: 0 auto;
    font-size: 1.2rem;
    padding-bottom: 30px;
    display: flex;
    align-items: center;

    .donations-backers, .donations-maintainers {
      flex: 1 1 auto;
    }

    .backer-avatar, .maintainer-avatar {
      margin: 0 5px;
    }

    .donations-backers-title, .donations-maintainers-title {
      padding-bottom: 10px;
    }
  }
}

.donations-category {
  #main-outlet {
    padding-top: 20px;
  }
}
