div.stripe-errors {
  border: 1px solid #c33;
  border-radius: 5px;
  color: #600;
  background-color: #fdd;
  padding: 5px 10px;
}

.donations-page-description {
  max-width: 700px;
  font-size: 1.1em;
  line-height: 24px;
}

.donations-page-payment {
  padding-top: 60px;
}
