<h3>{{i18n "discourse_subscriptions.subscribe.unauthenticated"}}</h3>

<DButton
  @label="log_in"
  @action={{route-action "showLogin"}}
  @icon="user"
  class="btn btn-primary login-required subscriptions"
/>