<p>
  {{i18n "discourse_subscriptions.plans.select"}}
</p>

<div class="subscribe-buttons">
  {{#each this.orderedPlans as |plan|}}
    <PaymentPlan
      @plan={{plan}}
      @selectedPlan={{this.selectedPlan}}
      @clickPlan={{action "clickPlan"}}
    />
  {{/each}}
</div>