
<h3>{{i18n 'discourse_patrons.title' site_name=siteSettings.title}}</h3>

<div class="donations-page-description">
  {{cook-text siteSettings.discourse_patrons_page_description}}
</div>

<div class="donations-page-payment">
  {{donation-form
    stripePaymentHandler=(action "stripePaymentHandler")
  }}
</div>
