
<h3>{{i18n 'discourse_patrons.heading.payment' site_name=siteSettings.title}}</h3>

<p>
  {{cook-text siteSettings.discourse_patrons_payment_page}}
</p>

<div class="donations-page-payment">
  {{donation-form
    billing=model
    paymentSuccessHandler=(action "paymentSuccessHandler")
    stripePaymentHandler=(action "stripePaymentHandler")
  }}
</div>
